<!DOCTYPE html>
<html>
  <head>
    <title>Binder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      #sns {
          position: relative;
          margin: 0 auto;
          display: flex;
      }

      /* for touch devices and javascript off user */
      #sns li {
          flex: 1 1 auto;
          list-style: none;
      }
      #sns a {
          display: block;
          text-align: center;
      }
      #sns a::before {
          display: block;
          margin: 0 auto;
          
      }

      #sns link {
          display: block;
          text-align: center;
      }
      #sns link::before {
          display: block;
          margin: 0 auto;
          
      }

      .dock li {
          display: block;
          position: absolute;
          bottom: 0;
          transform-origin: 50% 100%;
      }
      .dock li.hide {
          opacity: 0;
      }
      .dock a {
          display: block;
          width: 30px;
          height: 30px;
          margin: 0 1px;
          border-radius: 4px;
      }

      .dock a {
          display: block;
          width: 30px;
          height: 30px;
          margin: 0 1px;
          border-radius: 4px;
      }

      .dock span {
          display: none;
      }
      .dock li:hover span {
          position: absolute;
          display: block;
          margin: 0 0 3px;
          bottom: 100%;
          left: 50%;
          transform: translateX(-50%);
          white-space: nowrap;
          text-align: center;
          font-size: 10px;
          border-radius: 1em;
          padding: .1em 1em;
          color: #fff;
          background: #666;
      }
      .dock li:hover span::before {
          content:'';
          position:absolute;
          display:block;
          width:0;
          bottom:-3px;
          left:50%;
          margin-left: -4px;
          border-style:solid;
          border-color:#666 transparent;
          border-width: 4px 4px 0;
      }
      .facebook {
          background: #282928;
      }
      .facebook::before {
          content: url("data:image/svg+xml; base64, PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnICB2aWV3Qm94PScwIDAgMzIgMzInPjxwYXRoIGZpbGw9JyNmZmYnIGQ9J00xOCAzMmgtNlYxNkg4di01LjVsNC0uMDJWNy4yNEMxMiAyLjc0IDEzLjIgMCAxOC41IDBoNC40MnY1LjVoLTIuNzVDMTguMSA1LjUgMTggNi4zIDE4IDcuNzN2Mi43Nmg0Ljk1TDIyLjM4IDE2SDE4djE2eicvPjwvc3ZnPg==");
      }
      .twitter {
          background: #282928;
      }
      .twitter::before {
          content: url("data:image/svg+xml; base64, PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnICB2aWV3Qm94PScwIDAgMzIgMzInPjxwYXRoIGZpbGw9JyNmZmYnIGQ9J00zMiA2LjA4Yy0xLjE4LjUyLTIuNDQuODctMy43NyAxLjAzIDEuMzUtLjggMi40LTIuMSAyLjktMy42Mi0xLjI4Ljc1LTIuNyAxLjMtNC4xOCAxLjYtMS4yLTEuMy0yLjktMi4wOC00LjgtMi4wOC0zLjYyIDAtNi41NiAyLjk0LTYuNTYgNi41NiAwIC41Mi4wNSAxLjAyLjE2IDEuNS01LjQ2LS4yNy0xMC4zLTIuOS0xMy41My02Ljg2LS41Ny45Ny0uOSAyLjEtLjkgMy4zIDAgMi4yOCAxLjE3IDQuMyAyLjkzIDUuNDctMS4wOC0uMDQtMi4xLS4zMy0yLjk3LS44My0uMDIuMDMtLjAyLjA2LS4wMi4xIDAgMy4xNyAyLjI3IDUuODIgNS4yNyA2LjQyLS41NS4xNS0xLjEzLjIzLTEuNzMuMjMtLjQyIDAtLjgzLS4wNS0xLjIzLS4xMi44MiAyLjYgMy4yNSA0LjUgNi4xMiA0LjU2LTIuMjUgMS43Ni01LjA4IDIuOC04LjE2IDIuOC0uNTMgMC0xLjA1LS4wMy0xLjU2LS4xQzIuOSAyNy45MyA2LjM1IDI5IDEwLjA2IDI5YzEyLjA4IDAgMTguNjgtMTAgMTguNjgtMTguNjggMC0uMjggMC0uNTYtLjAyLS44NSAxLjMtLjkyIDIuNC0yLjA4IDMuMjgtMy40eicvPjwvc3ZnPg==");
      }
      .googlep {
          background: #dd4b39;
      }
      .googlep::before {
          content: url("data:image/svg+xml; base64, PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnICB2aWV3Qm94PScwIDAgMzIgMzInPjxwYXRoIGZpbGw9JyNmZmYnIGQ9J00xNy40NyAySDkuMUM1LjM0IDIgMS44IDQuODQgMS44IDguMTRjMCAzLjM2IDIuNTcgNi4wOCA2LjQgNi4wOC4yNiAwIC41IDAgLjc3LS4wMi0uMjUuNDctLjQzIDEtLjQzIDEuNTYgMCAuOTQuNSAxLjcgMS4xNCAyLjMtLjQ4IDAtLjk0LjAzLTEuNDUuMDNDMy41OCAxOC4xIDAgMjEuMDQgMCAyNC4xYzAgMy4wMiAzLjkyIDQuOTIgOC41NyA0LjkyIDUuMyAwIDguMjMtMyA4LjIzLTYuMDQgMC0yLjQyLS43LTMuODctMi45My01LjQ0LS43NS0uNTMtMi4yLTEuODQtMi4yLTIuNiAwLS45LjI2LTEuMzQgMS42LTIuNCAxLjQtMS4wOCAyLjM3LTIuNiAyLjM3LTQuMzcgMC0yLjEtLjk0LTQuMTctMi43LTQuODVoMi42NkwxNy40NyAyem0tMi45MiAyMC40OGMuMDYuMjguMS41Ny4xLjg3IDAgMi40NC0xLjU4IDQuMzUtNi4xIDQuMzUtMy4yIDAtNS41My0yLjA0LTUuNTMtNC40OCAwLTIuNCAyLjg4LTQuNCA2LjEtNC4zNS43NCAwIDEuNDQuMTMgMi4wOC4zMyAxLjc0IDEuMiAzIDEuOSAzLjM1IDMuMjh6bS01LjE1LTkuMWMtMi4xNi0uMDgtNC4yLTIuNDMtNC41OC01LjI2czEuMDctNSAzLjIzLTQuOTNjMi4xNi4wNSA0LjIgMi4zMiA0LjU4IDUuMTZzLTEuMDcgNS4wNy0zLjIzIDV6TTI2IDhWMmgtMnY2aC02djJoNnY2aDJ2LTZoNlY4eicvPjwvc3ZnPg==");
      }
      .line {
          background: #282928;
      }
      .line::before {
          content: url("data:image/svg+xml; base64, PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnICB2aWV3Qm94PScwIDAgMzIgMzInPjxwYXRoIGZpbGw9JyNmZmYnIGQ9J00xNS45MyAxLjk1Yy03Ljk2IDAtMTQuNCA1LjI4LTE0LjQgMTEuOCAwIDUuODQgNS4yIDEwLjcgMTIuMDIgMTEuNjNoLjA4bC4yMy4wNGMuNzUuMSAxLjEuMjggMS4xIDEuMS0uMDIuOTItLjM4IDEuNi0uNiAyLjA0cy0uNjcgMi4yNSAxLjQgMS4xM2MxLjU4LS44OCA5LjM3LTQuNyAxMi44Ny0xMC4zNy45My0xLjQgMS41LTMgMS42Ny00LjY4di0uMTVsLjAzLS4yNXYtLjVjMC02LjUyLTYuNDQtMTEuOC0xNC40LTExLjh6TTkuOSAxNy4xNUg3LjEzYy0uNCAwLS43My0uMzMtLjczLS43M3YtNS41N2MwLS40LjMzLS43NC43NC0uNzRzLjczLjM0LjczLjc1djQuODNoMmMuNDIgMCAuNzUuMzMuNzUuNzNzLS4zMy43NS0uNzQuNzV6bTMuMTItLjczYzAgLjQtLjMzLjczLS43NC43M3MtLjczLS4zMy0uNzMtLjczdi01LjU3YzAtLjQuMzMtLjc0LjczLS43NHMuNzQuMzQuNzQuNzV2NS41NnptNi43LjVjMCAuMDItLjAyLjAzLS4wMy4wNGwtLjEuMDZjMCAuMDItLjAzLjAzLS4wNi4wNGwtLjA2LjAzYy0uMDIgMC0uMDUgMC0uMDguMDJoLS4wNWwtLjE1LjAzYy0uMDUgMC0uMSAwLS4xNC0uMDItLjAyIDAtLjA1IDAtLjA3LS4wMnMtLjA2IDAtLjA4IDBsLS4wNy0uMDVjLS4wMiAwLS4wNCAwLS4wNS0uMDItLjEtLjA3LS4xNy0uMTUtLjIzLS4yNEwxNS43MiAxM3YzLjRjMCAuNC0uMzMuNzMtLjczLjczcy0uNzQtLjMzLS43NC0uNzR2LTUuNTUtLjA0LS4xYy4wMi0uMDIuMDMtLjA1LjAzLS4wN3YtLjA2bC4wNi0uMXMwLS4wMi4wMi0uMDNjLjA1LS4wOC4xMi0uMTUuMi0uMi4wMiAwIC4wMy0uMDIuMDUtLjAzbC4wOC0uMDMuMDgtLjAyLjA3LS4wMi4xMy0uMDJIMTVjLjA1IDAgLjEuMDIuMTQuMDMuMDIgMCAuMDQgMCAuMDYuMDIuMDIgMCAuMDUgMCAuMDcuMDIuMDMgMCAuMDUuMDIuMDcuMDRsLjA2LjA0Yy4wNC4wMi4wOC4wNS4xLjEuMDUuMDMuMS4wOC4xMi4xM2wyLjg1IDMuNzd2LTMuNGMwLS40LjMzLS43My43My0uNzNzLjc0LjM0Ljc0Ljc1djUuNTZjMCAuMDYgMCAuMS0uMDIuMTZ2LjA1bC0uMDQuMWMwIC4wMi0uMDIuMDMtLjAzLjA1IDAgLjAzLS4wMi4wNS0uMDQuMDcgMCAuMDMtLjAzLjA2LS4wNS4wOGwtLjAzLjAzem00LjgyLTQuMDJjLjQgMCAuNzMuMzMuNzMuNzNzLS4zMy43My0uNzMuNzNoLTJ2MS4zMmgyYy40IDAgLjczLjMzLjczLjczcy0uMzMuNzUtLjczLjc1SDIxLjhjLS40MiAwLS43NC0uMzMtLjc0LS43NHYtNS41NWMwLS40LjMzLS43NC43My0uNzRoMi43NGMuNCAwIC43My4zNC43My43NXMtLjMzLjczLS43My43M2gtMnYxLjNoMnonLz48L3N2Zz4=");
      }
      .fas::before{
          background: #282928;
          color:#ffffff;
          width: 20px;
          height: 25px;
          margin: 1px;
          border-radius: 4px;
          bottom:5px;
          padding:5px 5px 0 5px;
      }
    </style>
  </head>

  <body>
    <header class="header">
      <div class="header__title">
        <%= link_to image_tag('newbinder.png'),root_path, class: "header__title--text"%>
      </div>
      <ul class="dropdwn">
        <li>
          <% if user_signed_in? %>
            <%= current_user.nickname %>
              <ul class="dropdwn_menu">
                  <li><%= link_to "投稿一覧",root_path, class: "menu" %></li>
                  <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete, class: "menu"%></li>
                  <li><%= link_to "新規投稿", new_blog_path, class: "menu" %></li>
                  <li><%= link_to "MYPAGE", user_path(current_user), class: "menu" %></li>
              </ul>
          <% else %>
          <% end %>
        </li>
      </ul>
      <script>
      $(function(){
        $('.dropdwn li').hover(function(){
            $("ul:not(:animated)", this).slideDown('fast');
        }, function(){
            $("ul.dropdwn_menu",this).slideUp('fast');
        });
      });
      </script>
    </header>
    <span class="contents">
        <ul class="contents__back">
            <li><%= image_tag'hosi.jpeg',class:'hoge'%></li>
            <li><%= image_tag'umi.jpeg',class:'hoge'%></li>
            <li><%= image_tag'mati.jpeg',class:'hoge'%></li>
            <li><%= image_tag'neon.jpeg',class:'hoge'%></li>
            <li><%= image_tag'siro.jpeg',class:'hoge'%></li>
            <li><%= image_tag'kuro.jpeg',class:'hoge'%></li>
            <li><%= image_tag'tokyo.jpeg',class:'hoge'%></li>
        </ul>
        <ul class="contents__back">
            <li><%= image_tag'hosi.jpeg',class:'hoge'%></li>
            <li><%= image_tag'umi.jpeg',class:'hoge'%></li>
            <li><%= image_tag'mati.jpeg',class:'hoge'%></li>
            <li><%= image_tag'neon.jpeg',class:'hoge'%></li>
            <li><%= image_tag'siro.jpeg',class:'hoge'%></li>
            <li><%= image_tag'kuro.jpeg',class:'hoge'%></li>
            <li><%= image_tag'tokyo.jpeg',class:'hoge'%></li>
        </ul>
        
        
      </span>
      <div class= "blogs">
        <%= yield %>
      </div>
    </div>
    <ul id="sns">
      <li>
        <a class="facebook" href="https://www.facebook.com/">facebook</a>
      </li>
      <li>
        <a class="twitter" href="https://twitter.com/home?lang=ja">twitter</a>
      </li>
      <li>
        <a class="line" href="https://line.me/ja/">line</a>
      </li>
      <li>
        <%= link_to "一覧", root_path,  class: "fas fa-list" %>
      </li>
      <% if user_signed_in? %>
      <li>
        <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, class: "fas fa-door-open" %>
      </li>
      <li>
        <a class="fas fa-pen-nib" href=/blog/new>新規投稿</a>
      </li>
      <li>
        <%= link_to "MYPAGE", user_path(current_user), class: "fas fa-user" %>
      </li>
      <% else %>
      <li>
        <a class="fas fa-sign-in-alt" href=/users/sign_in>LOGIN</a>
      </li>
      <li>
        <a class="fas fa-user-plus" href=/users/sign_up>新規登録</a>
      </li>
      <% end %>
    </ul>
    <script>
      var zoom = 4;

      (function(zoom) {
        'use strict'

        if('ontouchstart' in window) return;
        var anime;
        var mouseX;

        var dock = document.getElementById('sns');
        dock.classList.add('dock');
        var icons = dock.children;
        var defaultWidth = icons[0].offsetWidth;
        var bound = defaultWidth * 3.14;
        dock.style.width = defaultWidth * (icons.length -1) +'px';
        dock.style.height = defaultWidth +'px';
        [].forEach.call(icons, function(icon, i) {
            var span = document.createElement('span');
            var anchor = icon.getElementsByTagName('a')[0];
            var text = anchor.textContent;
            span.textContent = text;
            icon.appendChild(span);
            anchor.textContent = '';
  
            icon.setAttribute('style', 'transition:.3s;left:' + i * defaultWidth + 'px');
        });
  
        function scaling(x) {
            for(var i = icons.length; i--;) {
              var icon = icons[i];
              var distance = (i * defaultWidth + defaultWidth / 2) - x;
              if(-bound < distance && distance < bound) {
                  var rad = distance / defaultWidth * .5;
                  var currentScale = icon.getBoundingClientRect().width / icon.offsetWidth;
                  var scale = currentScale + (1 + (zoom - 1) * Math.cos(rad) - currentScale)/5;
                  var currentLeft = icon.offsetLeft;
                  var left = currentLeft + (i * defaultWidth + 2 * (zoom - 1) * defaultWidth * Math.sin(rad) -currentLeft)/5;
                  icon.setAttribute('style', 'left:' + left + 'px;transform:scale(' + scale + ')');
              } else {
                  var left;
                  if(-bound < distance) {
                    left = i * defaultWidth + 2.05 * (zoom - 1) * defaultWidth;
                  } else {
                    left = i * defaultWidth - 2.05 * (zoom - 1) * defaultWidth;
                  }
                  var currentLeft = icon.offsetLeft;
                  var currentScale = icon.getBoundingClientRect().width / icon.offsetWidth;
                  icon.setAttribute('style', 'left:' + (currentLeft + (left - currentLeft)/5) + 'px;transform:scale('+(currentScale + (1-currentScale)/5)+')');
              }
            }
        }

        dock.addEventListener('mousemove', function(e) {
            mouseX = e.clientX - dock.getBoundingClientRect().left;
        });

        dock.addEventListener('mouseenter', function(e) {
            anime = setInterval(function() {
              scaling(mouseX);
            }, 20);
            dock.style.height = defaultWidth * zoom + 'px';
            dock.style.marginTop = -(zoom - 1) * defaultWidth + 'px';
        });

        dock.addEventListener('mouseleave', function(e) {
            clearInterval(anime);
            dock.style.height = defaultWidth + 'px';
            dock.style.marginTop = 0;
            for(var i = icons.length; i--;) {
              icons[i].setAttribute('style', 'transition: .3s;left:' + i * defaultWidth + 'px');
            }
        });
      }(zoom));
    </script>
  </body>
</html>
